:css
  body {
    background: url("/assets/photography/piccadilly_tube.jpg");
    background-size: cover;
  }

#sign-in
  .sign-in-box
    .sign-in-title
      %h2 LOGIN

    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
      .form-group
        = f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control"
      .form-group
        = f.password_field :password, placeholder: "Password", class: "form-control"
      - if devise_mapping.rememberable?
        %div
          = f.check_box :remember_me
          = f.label :remember_me
      %div
        = f.submit "Sign in", class: "btn btn-default"

  = render "devise/shared/links"
